{{!< default}}
{{> head}}
{{> header}}

	<section id="aboutHero" style="background-image:url(https://unsplash.it/1800/700/?random);">
		<div class="heroBody">
			<div class="heroText">
				<h1 class="galleryHero__surTitle">Our Process</h1>
				<h2 class="galleryHero__title">How We Do What We (Love To) Do</h2>
			</div>
		</div>
	</section>

	<section id="aboutBody">

		<!-- About Block 1 -->
		<div class="aboutBlock">
			<div class="aboutBlock__text">
				<h3 class="aboutBlock__title">Getting to Know You</h3>
				<p class="aboutBlock__blurb">Congratulations! You’re getting married and you’re talking to us about your flowers. Our first step is an introductory phone call. We’ll talk about your wedding plans, how the two of you met, how he popped the question. Afterward we’ll send you a questionnaire to get some more detail about your event, but on this call we just want to get to know you better.</p>
			</div>
			<div class="aboutBlock__photo">
				<div class="thumbWrapper thumbHover">
					<img class="thumbImage" src="https://unsplash.it/900/700/?random">
					<div class="thumbOverlay">
						<div class="thumbText">
							<p>Lorem ipsum dolor sit amet</p>
							<span class="thumbByline">Photo by <a href="{{data.gallery.thumbnail.photographer.website}}" title="{{data.gallery.thumbnail.photographer.name}}" target="_blank">Nectar</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- About Block 1 -->
		<div class="aboutBlock">
			<div class="aboutBlock__text">
				<h3 class="aboutBlock__title">Getting to Know You</h3>
				<p class="aboutBlock__blurb">Congratulations! You’re getting married and you’re talking to us about your flowers. Our first step is an introductory phone call. We’ll talk about your wedding plans, how the two of you met, how he popped the question. Afterward we’ll send you a questionnaire to get some more detail about your event, but on this call we just want to get to know you better.</p>
			</div>
			<div class="aboutBlock__photo">
				<div class="thumbWrapper thumbHover">
					<img class="thumbImage" src="https://unsplash.it/900/700/?random">
					<div class="thumbOverlay">
						<div class="thumbText">
							<p>Lorem ipsum dolor sit amet</p>
							<span class="thumbByline">Photo by <a href="{{data.gallery.thumbnail.photographer.website}}" title="{{data.gallery.thumbnail.photographer.name}}" target="_blank">Nectar</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- About Block 1 -->
		<div class="aboutBlock">
			<div class="aboutBlock__text">
				<h3 class="aboutBlock__title">Getting to Know You</h3>
				<p class="aboutBlock__blurb">Congratulations! You’re getting married and you’re talking to us about your flowers. Our first step is an introductory phone call. We’ll talk about your wedding plans, how the two of you met, how he popped the question. Afterward we’ll send you a questionnaire to get some more detail about your event, but on this call we just want to get to know you better.</p>
			</div>
			<div class="aboutBlock__photo">
				<div class="thumbWrapper thumbHover">
					<img class="thumbImage" src="https://unsplash.it/900/700/?random">
					<div class="thumbOverlay">
						<div class="thumbText">
							<p>Lorem ipsum dolor sit amet</p>
							<span class="thumbByline">Photo by <a href="{{data.gallery.thumbnail.photographer.website}}" title="{{data.gallery.thumbnail.photographer.name}}" target="_blank">Nectar</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
{{> footer}}