{{> head}}
{{> header}}
	<section id="galleryHero">
		<div class="heroBody">
			<div class="heroText">
				<h2 class="heroText__surTitle">{{data.gallery.subtitle}}</h2>
				<h1 class="heroText__title">{{data.gallery.title}}</h1>
			</div>
		</div>
	</section>

	<section id="galleryBody">

		<!-- Gallery Thumbnail -->
		<div class="galleryThumbnail">
			<div class="galleryThumbnail__text">
				<h4 class="galleryThumbnail__surTitle">{{data.gallery.blurb.subtitle}}</h4>
				<h3 class="galleryThumbnail__title">{{data.gallery.blurb.title}}</h3>
				<p class="galleryThumbnail__blurb">{{{data.gallery.blurb.body}}}</p>
			</div>
			<div class="galleryThumbnail__photo">
				{{> image image=data.thumbnailPhoto width='2400' height='1800'}}
			</div>
		</div>

		<div class="grid" id="galleryGrid">
			{{#each data.gridPhotos}}
			<div class="galleryGrid__item">
				{{> image image=this}}
			</div>
			{{/each}}
		</div>

		<div id="galleryQuote">
			<div id="galleryQuote__photo" data-slide="{{data.quotePhoto.image.secure_url}}" style="background-image:url({{data.quotePhoto.image.secure_url}})">
			</div>
			<div id="galleryQuote__overlay">
				<div id="galleryQuote__text">
					{{#if data.gallery.quoteBody}}
						<blockquote>{{data.gallery.quoteBody}}</blockquote>
					{{/if}}
					<p id="galleryQuote__byline">{{data.gallery.quoteByline}}</p>
				</div>
			</div>
			<span class="photoCredit">Photo by <a href="{{data.quotePhoto.photoCredit.website}}" title="{{data.quotePhoto.photoCredit.name}}" target="_blank">{{data.quotePhoto.photoCredit.name}}</a></span>
		</div>

		<div id="galleryInfo">
			{{#if data.gallery.vendors}}
			<div id="galleryInfo__vendors">
				<h3>Vendors</h3>
				<ul>
					{{#each data.gallery.vendors}}
					{{#if website}}
					<li>{{type}}: <a href="{{website}}" title="{{name}}" target="_blank">{{name}}</a></li>
					{{else}}
					<li>{{type}}: {{name}}</li>
					{{/if}}
					{{/each}}
				</ul>
			</div>
			{{/if}}
			<div id="galleryInfo__cta">
				<h3>Get in Touch</h3>
				<a href="#">Let's Talk.</a>
			</div>
		</div>

	</section>

	<div id="galleryModal">
		<div id="galleryModal__slider">
			<div id="galleryModal__close"><i class="material-icons md-36">close</i></div>
			<div id="galleryModal__slideContainer"></div>
		</div>
	</div>

</div>
{{> footer}}