{{> head}}
{{> header}}

	<section id="galleriesHero">
		<div class="heroBody">
			<div class="heroText">
				<p>{{data.tester}}</p>
				<h1 class="heroText__surTitle">Photo Galleries</h1>
				<h2 class="heroText__title">Meet Our Couples</h2>
			</div>
		</div>
	</section>

	<section id="galleryBody">

	<!-- if galleries -->
	{{#if galleries}}
		{{#each galleries}}
		<!-- Gallery Thumbnail -->
		<div class="galleriesThumbnail">
			<div class="galleriesThumbnail__photo scrollFade">
				<a href="/galleries/{{key}}" title="{{title}}">
					{{> image image=this.thumbnailPhoto key=key width=1200 height=800}}
				</a>
			</div>
			<div class="galleriesThumbnail__text">
				<h3 class="galleriesThumbnail__title">{{title}}</h3>
				<h4 class="galleriesThumbnail__venue">{{venue.name}}</h4>
				<h4 class="galleriesThumbnail__location">{{location}}</h4>
				{{!<p class="galleriesThumbnail__blurb">{{{blurb.body\}\}\}</p>}}
				<a href="/galleries/{{key}}" class="galleriesThumbnail__cta cta">View Gallery</a>
			</div>
		</div>
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">There are no image galleries yet.</h3>
	{{/if}}

	</section>

{{> footer}}