{{> head}}
{{> header}}
	<section id="galleryHero">
		<div class="heroBody">
			<div class="heroText">
				<h2 class="galleryHero__surTitle">{{data.gallery.subtitle}}</h2>
				<h1 class="galleryHero__title">{{data.gallery.title}}</h1>
			</div>
		</div>
	</section>

	<section id="galleryBody">

		<!-- Gallery Thumbnail -->
		<div class="galleryThumbnail">
			<div class="galleryThumbnail__text">
				<h4 class="galleryThumbnail__surTitle">{{data.gallery.blurb.subtitle}}</h4>
				<h3 class="galleryThumbnail__title">{{data.gallery.blurb.title}}</h3>
				<p class="galleryThumbnail__blurb">{{{data.gallery.blurb.body}}}</p>
			</div>
			<div class="galleryThumbnail__photo">
				<div class="thumbWrapper thumbHover" data-slide="{{thumbnailPhoto.fields.photo.fields.file.url}}">
					<img class="thumbImage" src="{{data.gallery.thumbnail.image.url}}">
					<div class="thumbOverlay">
						<div class="thumbText">
							<p>{{data.gallery.thumbnail.caption}}</p>
							<span class="thumbByline">Photo by <a href="{{thumbnailPhoto.fields.photographer.fields.website}}" title="{{thumbnailPhoto.fields.photographer.fields.name}}" target="_blank">{{data.gallery.thumbnail.photographer.name}}</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="grid" id="galleryGrid">
			{{#each data.gallery.gridImages}}
			<div class="galleryGrid__item">
				<div class="thumbWrapper thumbHover" data-slide="{{fields.photo.fields.file.url}}">
					<img class="thumbImage" src="{{image.url}}" alt="{{fields.title}}">
					<div class="thumbOverlay">
						<div class="thumbText">
							<p>{{fields.caption}}</p>
							<span class="thumbByline">Photo by <a href="{{fields.photographer.fields.website}}" title="{{fields.photographer.fields.name}}" target="_blank">{{fields.photographer.fields.name}}</a></span>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>

		<div id="galleryQuote">
			<div id="galleryQuote__photo" data-slide="{{quotePhoto.fields.file.url}}" style="background-image:url({{quotePhoto.fields.photo.fields.file.url}})">
				<div id="galleryQuote__photoCredit">Photo by <a href="{{quotePhoto.fields.photographer.fields.website}}" title="{{quotePhoto.fields.photographer.fields.name}}" target="_blank">{{quotePhoto.fields.photographer.fields.name}}</a></div>
			</div>
			<div id="galleryQuote__overlay">
				<div id="galleryQuote__text">
					<blockquote>{{quoteText}}</blockquote>
					<p id="galleryQuote__byline">{{quoteAttribution}}</p>
				</div>
			</div>
		</div>

		<div id="galleryInfo">
			<div id="galleryInfo__vendors">
				<h3>Vendors</h3>
				<ul>
					<li>Catering: <a href="#">Yum Yum Nom Nom</a></li>
					<li>Photography: <a href="#">Cool Photography</a></li>
					<li>Venue: <a href="#">The Barn at Gibbet Hill</a></li>
					<li>Videography: <a href="#">Action!</a></li>
					<li>Catering: <a href="#">Yum Yum Nom Nom</a></li>
					<li>Photography: <a href="#">Cool Photography</a></li>
					<li>Venue: <a href="#">The Barn at Gibbet Hill</a></li>
					<li>Videography: <a href="#">Action!</a></li>
				</ul>
			</div>
			<div id="galleryInfo__cta">
				<h3>Get in Touch</h3>
				<a href="#">Let's Talk.</a>
			</div>
		</div>

	</section>

	<div id="galleryModal">
		<div id="galleryModal__slider">
			<div id="galleryModal__close"><i class="material-icons md-36">close</i></div>
			<div id="galleryModal__slideContainer"></div>
		</div>
	</div>

</div>
{{> footer}}