{{!< default}}
{{> head}}
{{> header}}

	<section id="homeHero" style="background-image:url(/images/home/summerstreetphotography-81.jpg);">
		<div class="heroBody">
			<div class="heroText">
				<!--<img src="/images/nectar-wordmark.png" width="600" height="111" alt="nectar" />-->
				<h2 class="heroText__title">It takes love.</h2>
			</div>
			<span class="photoCredit">Photo by <a href="http://summerstreetphotography.com/" target="_blank">Summer Street Photography</a></span>
		</div>
	</section>

	<section id="homeBody">

		<!-- if galleries -->
		{{#if data.gallery}}
			<!-- Gallery Thumbnail -->
			<div class="galleriesThumbnail homeBlock">
				<div class="galleriesThumbnail__photo">
					{{> image image=data.gallery.thumbnailPhoto key=data.gallery.key}}
				</div>
				<div class="galleriesThumbnail__text">
					<h4 class="galleriesThumbnail__location">From our Galleries</h4>
					<h3 class="galleriesThumbnail__title">{{data.gallery.title}}</h3>
					{{!<p class="galleriesThumbnail__blurb">{{{blurb.body\}\}\}</p>}}
					<a href="/galleries/{{data.gallery.key}}" class="galleriesThumbnail__cta cta">View Gallery</a>
				</div>
			</div>
		{{/if}}

		<!-- About Block 1 -->
		<div class="homeBlock">
			<div class="homeBlock__photo">
				{{> imageCustom
					title='placeholder image'
					src='/images/process/2016-10-08_Misty-Centerpiece-1.jpg'
				}}
			</div>
			<div class="homeBlock__text">
				<h4 class="homeBlock__subtitle">Our Process</h4>
				<h3 class="homeBlock__title">How we do it.</h3>
				<p class="homeBlock__blurb">Congratulations! You’re getting married and you’re talking to us about your flowers. Our first step is an introductory phone call. We’ll talk about your wedding plans, how the two of you met, how he popped the question. Afterward we’ll send you a questionnaire to get some more detail about your event, but on this call we just want to get to know you better.</p>
				<a href="/our-process/" class="cta">Find out more</a>
			</div>
		</div>

		<div class="homeBlock">
			<ul id="nectarInstagram">
				<li>
					<h4>On Instagram</h4>
					<h3>@bynectar</h3>
					<a href="http://www.bynectar.com/bynectar" target="_blank" class="cta">Visit Us</a>
				</li>
				{{#each data.instagramFeed}}
				<li>
					<a href="{{{link}}}" target="_blank">
						<img width="320" height="320" src="{{{images.standard_resolution.url}}}">
					</a>
				</li>
				{{/each}}
			</ul>
		</div>

	</section>
{{> footer}}