<!DOCTYPE html>
<!--[if lt IE 7]>			<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>				 <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>				 <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{data.title}}</title>
	<meta name="description" content="{{data.pageDescription}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:url" content="{{data.currentUrl}}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{data.title}}">
	<meta property="og:image" content="{{data.image}}">
	<meta property="og:description" content="{{data.pageDescription}}">
	<meta property="og:site_name" content="Nectar Floral Design">

	{{!-- Place favicon.ico and apple-touch-icon.png in the root directory --}}

{{!-- Styles --}}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Cabin:400,400i,700,700i" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<link rel="stylesheet" href="/styles/site.css">

	{{!-- This file provides the default styling for the KeystoneJS Content Editor
		- only renders when user is logged in and admin--}}
	{{{isAdminEditorCSS user}}}

	{{!-- Head Scripts --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script>
	if (window.location.hostname.indexOf('bynectar.com') !== -1) {
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-25285179-1', 'auto');
		ga('send', 'pageview');
	}
	</script>
	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '212446892532055');
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=212446892532055&ev=PageView&noscript=1"
	/></noscript>
	<!-- DO NOT MODIFY -->
	<!-- End Facebook Pixel Code -->
</head>
<body class="heading-{{headingType}}">
	<!--
		Flash messages allow you to display once-off status messages to users, e.g. form
		validation errors, success messages, etc
	-->
	{{#if messages}}
	<div id="flash-messages" class="container">
		{{#if messages.info}}
		<div class="alert alert-info">
				{{{flashMessages messages.info}}}
		</div>
		{{/if}}
		{{#if messages.success}}
		<div class="alert alert-success">
				{{{flashMessages messages.success}}}
		</div>
		{{/if}}
		{{#if messages.warning}}
		<div class="alert alert-warning">
				{{{flashMessages messages.warning}}}
		</div>
		{{/if}}
		{{#if messages.error}}
		<div class="alert alert-danger">
				{{{flashMessages messages.error}}}
		</div>
		{{/if}}
	</div>
	{{/if}}
